.paper{
    margin-top: 10rem;
    position: absolute;
    justify-content: center;
    align-content: center;

}
.heder{
    justify-content: center;
    margin: 2rem;
}
.avatar{
    background-color: #e85014;
    text-align: right;
}
.form{

}
.c-submit{
    
}